@{
    ViewData["Title"] = "About";
}

<div>
    <h1>I enjoy working as part of a development team, am a good communicator and continue to grow my skills as a software developer.</h1>
    <br />
    <h4>IT Skills</h4>
    <p>
        - Development using Python, Java, JavaScript, HTML, CSS and NodeJS <br />
        - Building, designing and querying SQL databases <br />
        - Cryptocurrency engineering and design <br />
        - Foundational understanding of specialist level pure mathematics <br />
        - Experience working in an agile development environment <br />
        - Learning C++; C# and .NET framework; and gaining experience using AWS 
    </p>
    <br />
    <h4>Experience</h4>
    <h3>Software Developer at Euclideon, Milton</h3>
    <h6>October 2021 – March 2022</h6>
    <p>My work at Euclideon centred around two projects. The first was a web app designed to support our professional services team to showcase the features of udStream, Euclideons core product, through a new web-based JavaScript API. The second project was a 3D model of the milky way galaxy, plotting and colourising 1.7 billion stars with data collected from the Gaia space observatory. I built upon my programming skills in many important ways including learning web development, testing, and debugging; understanding network and hardware constraints; software paradigms for modelling 3D geospatial data; some astrophysics; and continuing to develop my understanding of conventional algorithms, data structures and software development best practices.</p>
    <h3>Team Member at Grill’d Healthy Burgers, Wintergarden</h3>
    <h6>November 2019 – November 2021</h6>
    <p>I took pride in representing my restaurant. As a team member at Grill’d, my duties ranged from food preparation and cooking to customer service and hospitality. I spent most of my time working in service; taking orders; preparing and serving beverages; clearing tables; making sure the customers were satisfied and comfortable and driving increased sales for the business by consistently hitting KPIs. </p>
    <h3>Food Service Team Member at KFC, Kelvin Grove</h3>
    <h6>November 2018 – November 2019</h6>
    <p>My primary duties at KFC were to bread, cook and rack chicken; clean cooking equipment and kitchen appliances; sweep and mop the kitchen and storage areas; follow safety procedures and alert the manager of potential hazards to fellow staff and customers.</p>

</div>
